<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyu.mapper.StreetMapper">

    <resultMap id="BaseResultMap" type="com.lyu.entity.address.Street">
            <id property="code" column="code" jdbcType="CHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="aCode" column="a_code" jdbcType="CHAR"/>
            <result property="pCode" column="p_code" jdbcType="CHAR"/>
            <result property="cCode" column="c_code" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        code,name,a_code,
        p_code,c_code
    </sql>
</mapper>
