<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyu.mapper.UserAmountLogMapper">

    <resultMap id="BaseResultMap" type="com.lyu.entity.UserAmountLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="effctive" column="effctive" jdbcType="TINYINT"/>
            <result property="plus" column="plus" jdbcType="TINYINT"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
            <result property="sourceId" column="source_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,amount,
        effctive,plus,time,
        source_id
    </sql>
</mapper>
