<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyu.mapper.OrderMapper">
    <resultMap id="baseMap" type="com.lyu.entity.dto.OrderDTO">
        <id column="oid" property="oid" jdbcType="BIGINT"/>
        <result column="cid" property="cid" jdbcType="BIGINT"/>
        <result column="uid_seller" property="uidSeller" jdbcType="BIGINT"/>
        <result column="uid_buyer" property="uidBuyer" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="trade_id" property="tradeId" jdbcType="VARCHAR"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP"/>
        <result column="ship_id" property="shipId" jdbcType="VARCHAR"/>
        <result column="ship_time" property="shipTime" jdbcType="TIMESTAMP"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="buyer_alipay_id" property="buyerAlipayId" jdbcType="VARCHAR"/>
        <result column="cancel_time" property="cancelTime" jdbcType="TIMESTAMP"/>
        <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="status_name" property="statusName" jdbcType="VARCHAR"/>
        <result column="ssid" property="ssid" jdbcType="BIGINT"/>
        <association property="commodity" javaType="com.lyu.entity.Commodity">
            <result column="quality" property="quality" jdbcType="FLOAT"/>
            <result column="price" property="price" jdbcType="DECIMAL"/>
            <result column="time" property="time" jdbcType="TIMESTAMP"/>
            <result column="view_count" property="viewCount" jdbcType="INTEGER"/>
            <result column="cover" property="cover" jdbcType="VARCHAR"/>
        </association>
        <association property="user" javaType="com.lyu.entity.dto.UserWithRatingDTO">
            <id column="uid" property="uid" jdbcType="VARCHAR"/>
            <result column="username" property="username" jdbcType="VARCHAR"/>
            <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
            <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
            <result column="good_rating_count_seller" property="goodRatingCountSeller" jdbcType="INTEGER"/>
            <result column="rating_count_seller" property="ratingCountSeller" jdbcType="INTEGER"/>
            <result column="good_rating_count_buyer" property="goodRatingCountBuyer" jdbcType="INTEGER"/>
            <result column="rating_count_buyer" property="ratingCountBuyer" jdbcType="INTEGER"/>
        </association>
        <association property="userAddress">
            <result column="aname" property="name" jdbcType="VARCHAR"/>
            <result column="aphone" property="phone" jdbcType="VARCHAR"/>
            <result column="street_code" property="streetCode" jdbcType="VARCHAR"/>
            <result column="province" property="province" jdbcType="VARCHAR"/>
            <result column="city" property="city" jdbcType="VARCHAR"/>
            <result column="area" property="area" jdbcType="VARCHAR"/>
            <result column="street" property="street" jdbcType="VARCHAR"/>
            <result column="address" property="address" jdbcType="VARCHAR"/>
        </association>
        <association property="express" javaType="com.lyu.entity.dto.ExpressDTO">
            <id column="express_id" property="expressId" jdbcType="CHAR"/>
            <result column="express_name" property="expressName" jdbcType="VARCHAR"/>
        </association>
        <association property="orderRatingSeller" javaType="com.lyu.entity.OrderRating">
            <result column="rating_seller_level" property="level"/>
            <result column="rating_seller_score" property="score"/>
            <result column="rating_seller_comment" property="comment"/>
        </association>
        <association property="orderRatingBuyer" javaType="com.lyu.entity.OrderRating">
            <result column="rating_buyer_level" property="level"/>
            <result column="rating_buyer_score" property="score"/>
            <result column="rating_buyer_comment" property="comment"/>
        </association>
    </resultMap>
    <sql id="getOrderByUserSql">
        select t_order.oid,
               t_order.name,
               t_order.ship_time,
               t_order.pay_time,
               t_order.total_amount,
               t_order.cancel_time,
               t_order.complete_time,
               t_order.status,
               t_commodity.quality,
               t_commodity.price,
               t_commodity.time,
               t_commodity.view_count,
               t_commodity.cover,
               t_user.username,
               t_user.nickname,
               t_user.avatar
        from db_happy_trade.t_order,
             db_happy_trade.t_commodity,
             db_happy_trade.t_user,
             db_happy_trade.t_order_status
        where t_order.cid = t_commodity.cid
          and t_order.uid_seller = t_user.uid
          and t_order.status = t_order_status.status_id
    </sql>
    <select id="getOrdersByUser" resultMap="baseMap">
        <include refid="getOrderByUserSql"/>
        and t_order.uid_buyer = #{uid}
    </select>
    <select id="getOrdersByUserAsSeller" resultMap="baseMap">
        <include refid="getOrderByUserSql"/>
        and t_order.uid_seller = #{uid}
    </select>

    <select id="exist" resultType="java.lang.Boolean">
        SELECT 1
        FROM db_happy_trade.t_order
        WHERE t_order.oid = #{oid}
        LIMIT 1
    </select>
    <sql id="getOrderSql">
        select t_order.oid,
               t_order.cid,
               t_order.uid_seller,
               t_order.uid_buyer,
               t_order.name,
               t_order.trade_id,
               t_order.order_time,
               t_order.pay_time,
               t_order.ship_id,
               t_order.ship_time,
               t_order.total_amount,
               t_order.buyer_alipay_id,
               t_order.cancel_time,
               t_order.complete_time,
               t_order.status,
               t_order.ssid,
               t_express.name                                                        express_name,
               t_express.id                                                          `express_id`,
               A.level                                                               rating_seller_level,
               A.comment                                                             rating_seller_comment,
               A.score                                                               rating_seller_score,
               B.level                                                               rating_buyer_level,
               B.comment                                                             rating_buyer_comment,
               B.score                                                               rating_buyer_score,
               t_commodity.quality,
               t_commodity.price,
               t_commodity.time,
               t_commodity.view_count,
               t_commodity.cover,
               t_user.uid,
               t_user.username,
               t_user.nickname,
               t_user.avatar,
               count(t_order_rating.level = 2 and t_order_rating.seller = 1 or null) good_rating_count_seller,
               count(t_order_rating.seller = 1 or null)                              rating_count_seller,
               count(t_order_rating.level = 2 and t_order_rating.seller = 0 or null) good_rating_count_buyer,
               count(t_order_rating.seller = 0 or null)                              rating_count_buyer,
               t_user_address.name                                                   aname,
               t_user_address.phone                                                  aphone,
               t_user_address.street_code,
               t_user_address.address,
               t_user_address.tag,
               t_user_address.default_address,
               t_province.name                                                       province,
               t_city.name                                                           city,
               t_area.name                                                           area,
               t_street.name                                                         street,
               t_user_address.address,
               t_order_status.status_name
        from db_happy_trade.t_order
                 left join db_happy_trade.t_express on t_order.express_id = t_express.id
                 LEFT JOIN db_happy_trade.t_order_rating A ON A.oid = t_order.oid and A.target = t_order.uid_seller
                 LEFT JOIN db_happy_trade.t_order_rating B ON B.target = t_order.uid_buyer,
             db_happy_trade.t_commodity,
             db_happy_trade.t_user
                 left join db_happy_trade.t_order_rating on t_order_rating.target = t_user.uid,
             db_happy_trade.t_user_address,
             db_happy_trade.t_province,
             db_happy_trade.t_city,
             db_happy_trade.t_area,
             db_happy_trade.t_street,
             db_happy_trade.t_order_status
        where t_order.cid = t_commodity.cid
          and t_order.aid = t_user_address.aid
          and t_order.status = t_order_status.status_id
          and t_user_address.street_code = t_street.code
          and t_street.a_code = t_area.code
          and t_street.c_code = t_city.code
          and t_street.p_code = t_province.code
    </sql>
    <select id="getOrderByOid" resultMap="baseMap">
        <include refid="getOrderSql"/>
        and (t_order.uid_seller = t_user.uid or t_order.uid_buyer = t_user.uid)
        and t_user.uid <![CDATA[<>]]> #{uid}
        and t_order.oid = #{oid}
    </select>
    <select id="getOrderByCid" resultMap="baseMap">
        <include refid="getOrderSql"/>
        and t_order.uid_seller = t_user.uid
        and t_order.cid = #{cid}
    </select>

</mapper>