<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyu.mapper.UserFavoriteMapper">
    <resultMap id="baseMap" type="com.lyu.entity.dto.UserFavoriteDTO">
        <id column="fid" property="fid" jdbcType="BIGINT"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <association property="commodity" javaType="com.lyu.entity.Commodity">
            <id column="cid" property="cid" jdbcType="BIGINT"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="quality" property="quality" jdbcType="FLOAT"/>
            <result column="price" property="price" jdbcType="DECIMAL"/>
            <result column="sold" property="sold" jdbcType="TINYINT"/>
            <result column="launched" property="launched" jdbcType="TINYINT"/>
            <result column="ctime" property="time" jdbcType="TIMESTAMP"/>
            <result column="view_count" property="viewCount" jdbcType="INTEGER"/>
            <result column="cover" property="cover" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <select id="getFavoritesByUid" resultMap="baseMap">
        select t_user_favorites.fid,
               t_user_favorites.time,
               t_commodity.cid,
               t_commodity.name,
               t_commodity.quality,
               t_commodity.price,
               t_commodity.sold,
               t_commodity.launched,
               t_commodity.time ctime,
               t_commodity.view_count,
               t_commodity.cover
        from db_happy_trade.t_user_favorites,
             db_happy_trade.t_commodity
        where t_commodity.cid = t_user_favorites.id
          and t_user_favorites.uid = #{uid}
    </select>
</mapper>